<div class="menus">
  <div class="menu">
    <div class="new-task-link">
      <%= link_to "新規タスク投稿", new_task_path %>
    </div>
  </div>
    <div class="menu">
    <div class="calendar">
      <%= link_to "一覧ページ", tasks_path %>
    </div>
  </div>
  <div class="menu">
    <div class="calendar">
      カレンダー
    </div>
  </div>
  <div class="menu">
    <div class="template-search">
      テンプレート検索
    </div>
  </div>
  <div class="menu">
    <div class="my-page">
      マイページ
    </div>
  </div>
  <div class="menu">
    <div class="logout">
      <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
    </div>
  </div>
</div>      
