<body>
  <div class="wrapper">
    <div class ="side-bar">
      <%= render "side_bar" %>
    </div>
    <div class="main_content">
      <h1 class="page-title">タスク新規作成</h1>
      <h2 class="page-notes">タスクの期限を入力するとサズタスクの期限が算出されます</h2>
      <%= render "form" %>
    </div>
  </div>
</body>