<body>
  <div class="wrapper">
    <div class ="side-bar">
      <%= render "side_bar" %>
    </div>
    <div class="main_content">
        <div class="tasks">
          <div class="task">
            <div class="task-deadline">
              6/20
            </div>
            <div class="task-title">
              テックキャンプのオリジナルアプリ作成
            </div>
          </div>
          <div class="task">
            <div class="task-deadline">
              6/27
            </div>
            <div class="task-title">
              夏野菜を育てて収穫するプロジェクト（茄子、トマト、きゅうり、ピーマン、おくら、ゴーヤ）
            </div>
          </div>
          <div class="task">
            <div class="task-deadline">
              12/1
            </div>
            <div class="task-title">
              秋野菜を育てて収穫するプロジェクト（さつまいも、じゃがいも、大根）
            </div>
          </div>
        </div>
      </div>
  </div>
</body>