<div class="main-content">
  <div class="calendar">
    <%= month_calendar events: @tasks do |date, tasks| %>
      <%= date.day %>
        <% tasks.each do |task| %>
          <div class="event">
            <%= link_to task['task_title'], task_path(task['id']) %>
          </div>
        <% end %>
    <% end %>
  </div>
</div>