<body>
  <div class="wrapper">
    <div class ="side-bar">
      <%= render "side_bar" %>
    </div>
    <div class="main_content">
      <h1 class="page-title">テンプレート新規作成</h1>
      <%= render "form" %>
    </div>
  </div>
</body>