/******************************************** 
  画面全体
*********************************************/
.wrapper {
  display: flex;
}

/******************************************** 
  サイドバー
*********************************************/
.side-bar {
  background-color: #99CC99;
  width: 250px;
  height: 100vh;
}

.menu{
  height: 100px;
  display: flex;
  align-items: center;
  padding: 0 0 0 25px;
  font-family: 'Open Sans', sans-serif;
}

.menu div {
  font-size: 16px; 
}

.menu a{
  text-decoration:none;
  color: black;
}

.new-task-link {
  max-width: 500px;
  padding: 20px;
  background-color: #f7f7f7;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.new-task-link a {
  text-decoration: none;
  color: black;
}

/******************************************** 
  indexのメインコンテンツ
*********************************************/
.main_content {
  width: calc(100vw - 300px); 
}

.task {
  width: 100%;
  height: 80px;
  padding: 20px;
  display: flex;
  align-items: center;
  background-color: #dcdcdc;
  border-bottom: 1px solid gray;
}

.task-deadline {
  width: 200px;
  padding-left: 20px; 
}

.task-title {
  width: 100% ; 
  white-space: nowrap; 
  overflow: hidden; 
  text-overflow: ellipsis; 
}

.task-title a {
  color: black;
  text-decoration: none;
}

.importance-icon{
  min-width: 50px;
}

.emergency-icon{
  min-width: 50px;
}

.pato-image{
  width: 30px;
  height: 30px;
 }

.important-image{
width: 30px;
height: 30px;
}

/******************************************** 
  showのメインコンテンツ
*********************************************/
.subtask {
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 0 0 20px;
  margin-bottom:20px;
  background-color: #f5f5f5;
  border-bottom: 1px solid lightgray;
}

.subtask-title{
  width:100%;
}

.subtask-deadline {
  width: 200px;
  padding-left: 20px; 
}

.importance-status{
  padding: 0 0 0 20px;
  font-size: 20px;
}

.memo {
  width:100%;
  margin: 20px 0 0 0;
  text-align: center;
  border: 1px solid gray; 
  display: flex; 
  flex-direction: column; 
  justify-content: center; 
  align-items: center;
}

.memo-title {
  height:40px;
  line-height: 40px; 
  font-weight: bold;
  background-color: lightgray;
  width: 100%;
}

.memo-content {
  width:100%;
  padding: 20px;
  height: 180px;
  resize: none; 
  overflow: auto; 
  text-align: left;
}

.buttons {
  display: flex;
  margin-top: 10px;
}

.delete-button,
.share-button,
.consult-button {
  width: 60px;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  margin-bottom: 5px; 
  margin-left:10px;
}

.edit-destroy-button {
  width:70px;
  height:35px;
  line-height:35px;
  display: inline-block;
  background-color: gray;
  color: white;
  text-decoration: none;
  text-align: center;
  user-select: none;
  border: 1px solid #ced4da;
  font-size: 16px; 
  margin:0 0 0 10px;
  border-radius: 4px;
}

.edit-button,
.back-button{
  width:70px;
  height:35px;
  line-height:35px;
  display: inline-block;
  background-color: gray;
  color: white;
  margin: 10px 0 0 10px;
  text-decoration: none;
  text-align: center;
  user-select: none;
  border: 1px solid #ced4da;
  font-size: 16px; 
  border-radius: 4px;
}

/******************************************** 
  新規投稿画面
*********************************************/
.subtasks {
  width: 100%;
}

.task-form-group {
  margin: 0 0 20px 20px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

input[type="text"],
input[type="date"],
textarea {
  width: 85%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

textarea {
  height: 120px;
  resize: vertical;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: gray;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.subtask-form-group {
  margin-bottom: 20px;
}

.subtask-form {
  margin-bottom: 10px;
}

#add-subtask-button {
  margin: 0 0 20px 20px;
}


.importance-buttons{
  display:flex;
  padding:0 0 0 20px;
}


/******************************************** 
  テンプレート検索画面
*********************************************/
.page-title {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
  margin-top: 30px;
}

.search-form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

#search-input {
  width: 400px;
  padding: 10px;
  margin: 0 10px 0 0;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#search-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: gray;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.template{
  padding: 0 0 0 20px; 
  width: 100%; 
  height:80px;
  border-bottom: 1px solid gray;
  display: flex;
  align-items:center;
}

.template-title{
  white-space: nowrap; 
  overflow: hidden; 
  text-overflow: ellipsis; 
}

.template-create-button {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.template-create-button button {
  width: 200px;
  padding: 10px;
  font-size: 16px;
  background-color: gray;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}


/******************************************** 
  テンプレート新規作成画面
*********************************************/
.task-template-days {
  width: 200px;
}

.task-template-title {
  width: 100% ; 
  white-space: nowrap; 
  overflow: hidden; 
  text-overflow: ellipsis; 
}

.subtask-template-days {
  width: 200px;
}

.subtask-template-title {
  width: 100% ; 
  white-space: nowrap; 
  overflow: hidden; 
  text-overflow: ellipsis; 
}

#add-subtask-template-button {
  margin: 0 0 20px 20px;
}

.task-template-days input[type=number],
.subtask-template-days input[type=number] {
  height: 30px; 
}

/******************************************** 
  テンプレート検索画面
*********************************************/
.no-results {
  font-size: 20px;
  text-align: center;
}

.template-title{
  font-size: 16px;
}

